html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
	background-color:#e7001d;
	color: white;
	text-align:center;
	padding-bottom:20px;
	padding-top:10px;
}

h1{
	text-shadow: #222 2px 2px 3px;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
	text-shadow: #222 2px 2px 2px;
	text-align:center;
	font-size:3.5em;
	position: absolute;
	left: 0;
	top: -20px;
}

.head {
	font-size: 5em;
	margin: 0;
	text-shadow: #222 2px 2px 3px;
	text-align:center;
	font-size:2.5em;
	position: absolute;
}

i {
	font-style: normal;
}

.medallion {
	width: 120px;
}

small {
	font-size: 0.8rem;
	display: block;
}

body {
	margin:0;
}

.banner {
	width: 100%;
	display: block;
}

h4 {
	text-shadow: #222 2px 2px 3px;
	color: white;
	position:absolute;
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	font-style: italic;
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	bottom: 1em;
}

.bannerz {
	position: relative
}

nav {
	background-color:#222222;
	text-align: left;
}

nav ol{
	margin: 0;
	padding: 0;
}

nav a {
	color: white;
	text-decoration: none;
}

nav li {
	border: 1px solid black ;
	list-style-type: none;
	font-family: 'Noto Sans', sans-serif;
	width: 50%;
	margin: 0;
	display: inline-block;
	padding: 4px;
}

.birth-like {
	text-align: left;
	margin: 0.5em;
}

.right {
	clear: left;
}

.left {
	float: left;
}

.dragon-div {
	background-color: #e4c22a;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	padding: 0.5em;
}

.goat-div {
	background-color: #222222;
	text-align: center;
	color: white;
	padding-top: 2px;
	font-family: 'Noto Sans', sans-serif;
		padding: 0.5em;
}

.goat-div p {
	color: white;
}

.rooster-div {
	background-color: #bc0017;
	text-align: center;
	color: white;
	font-family: 'Noto Sans', sans-serif;
	padding: 0.5em;
}

.rooster-div p {
	color: white;
}

.ox-div {
	background-color: #e4c22a;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	padding: 0.5em;
}

div img {
	width:40%;
}

footer {
	background-color: #222222;
	padding: 1em;
	margin: 0;
	text-align: center;
}

footer a {
	color: white;
}
